{% extends 'base.html.twig' %}

{% block body %}
  <table class="table table-striped">
    <thread>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thread>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.title}}</td>
          <td><a href="">Supprimer</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<br>
  {{ form_start(form) }}
  {{ form_widget(form) }} <br>
  <button>Ajouter un produit</button>
  {{ form_end(form) }}
{% endblock %}
