{% extends 'base.html.twig' %}
{% block body %}

<style>

</style>
<div class="wrapper">

  <table class="table table-striped">
    <thread>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thread>
    <tbody>
      {% for item in items|sort %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.title }}</td>
          <td><a href="/suppression_produit/" + '$id'>Supprimer</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<br>

  {{ form_start(form) }}
  {{ form_widget(form) }} <br>
  <button class="btn btn-primary">Ajouter un produit</button>
  {{ form_end(form) }}
</div>

{% endblock %}
